*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: url('./3420_11802_5900.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wrap{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.try{
    position: absolute;
    top:-30px;
    left:50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 30px;
}